.calc-main {
  background-color: #0f1136;
  height: 100%;
}

.calc-display {
  background-color: #0f1136;
  padding: 55px 15px 20px;
}



ion-input {
  color: snow;
  font-size: 47px;
}

ion-col {
  padding: 0;
  margin: 0;
  text-align: center;
}

ion-button {
  height: 50px;
  width: 50px;
  border-radius: 50;
  font-size: 22px;
}

.double-width {
  width: 86%;
}
